
  <div class="column">
    <header class="display">
      <h1>
        Welcome Home, {{ user_fname }}
        Your Adventures continue...
      </h1>
    </header>
      <main class="container">
        <div class="read">
            <h2>Wish List</h2>
            <ul class="reading-list">
                {{#each want_books}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>

        <div class="favs">
            <h2>Your Favorites</h2>
            <ul class="fav-list">
                {{#each fav_books}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>

        <div class="comp">
            <h2>Completed Reads</h2>
            <ul class="reads-complete">
                {{#each complete}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="revs">
            <h2>Your Reviews</h2>
            <ul class="reviews-list">
                {{#each reviews}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
      </main>
  </div>
